{% extends 'bookings/new.jinja' %}{% block content %}
    <main><h1>Unfortunately, this room is booked at that time. <br>
    Please try 2 hours either side, or a different room.</h1></main>
    
{% endblock content %}