<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
    <div class="container">
        <header>
            <div class="logo"><h3>Sakura <span class="logo__span">Spa</span></h3></div>
            <a href="/bookings"><button class="header__button">Diary</button></a>
            <a href="/bookings/new"><button class="header__button">Add</button></a>
            <a href="/"><button>Home</button></a>
        </header>
    </div>
    <body>
        <ul>
            {% for customer in customers %}
            <li><a href="/bookings/{{customer.id}}">{{ customer.first_name }} {{ customer.last_name }}</a></li>
            {% endfor %}  
        </ul>
    </body>
    {% block content %}
        
    {% endblock content %}
    </html>
