{% extends 'base.jinja' %}{% block content %}
<main class="page_title"><h1>Booking #{{booking.id}}</h1></main>
    <table class="table booking_table">
        <tr>
            <th>Booking Reference:</th>
            <th>Booking Date and Time:</th>
            <th>Customer:</th>
            <th>Treatment:</th>
            <th>Room:</th>

        </tr>
    
        <tr>
            <td>{{ booking.id }}</td>
            <td>{{ booking.date_time }}</td>
            <td>{{ booking.customer.first_name }} {{booking.customer.last_name}}</td>
            <td>{{ booking.treatment.name }}</td>
            <td>{{ booking.room.name }}</td>
        </tr>
    </table>
    <div class="edit_delete">
        <p><h3>Edit this booking?</h3></p>
        <a href="/bookings/{{booking.id}}/edit"><button class="body__button"><i class="fa-solid fa-pencil"></i></button></a>
        <p><h3>Delete this booking?</h3></p>
        <form action="/bookings/{{booking.id}}/delete" method="post" ><button class="header__button" onclick="deletedfunction()"><i class="fa-solid fa-trash"></i></button>
        <script>function deletedfunction() {
            confirm("Booking deleted");
        }
        </script>
        </form>
    </div>
{% endblock content %}