{% extends 'base.jinja' %}{% block content %}
    <table>
        <tr>
            <th>Booking Reference</th>
            <th>Booking Date and Time</th>
            <th>Customer</th>
            <th>Treatment</th>

        </tr>
    
        <tr>
            <td>{{ booking.id }}</td>
            <td>{{ booking.date_time }}</td>
            <td>{{ booking.customer.first_name}} {{booking.customer.last_name}}</td>
            <td>{{ booking.treatment.name}}</td>
        </tr>
    </table>

    <p><h3>Edit this booking?</h3></p>
    <a href="/bookings/{{booking.id}}/edit"><button>O</button></a>
    <p><h3>Delete this booking?</h3></p>
    <form action="/bookings/{{booking.id}}/delete" method="post" ><button class="delete_button" onclick="areyousurefunction()">O</button>
    <script>function areyousurefunction() {
        confirm("Are you sure you want to delete this booking?");
    }
    </script>
    </form>

{% endblock content %}