* {
    margin: 0;
    padding: 0;
}

html{
    font-family: Raleway;
    font-weight: thin;
}

/* container */

.container {
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 2rem;
    width: 100%;
}

/* nav bar */
.nav_bar_background_color {
    background-color: rgba(139,85,117,255);
    height: 2.25rem;
    box-shadow: 5px 2.5px 6px 6px rgba(29, 29, 29, 0.232);
}

.nav_bar {
    display: flex;
    justify-content: space-between;
    height: 2.25rem;
    align-items: center;
}

.logo {
    font-family: water brush;
    font-size: x-large;
    color: rgba(241,204,218,255);
}

.header__button {
    border-radius: 0.8rem;
    padding: 5px 28px;
    font-weight:thin;
    border: none;
    background-color: rgba(241,204,218,255);
    font-size: medium;
    font-family: Raleway;
    box-shadow: rgb(57, 56, 56) 7px;
    cursor: pointer;
    color: rgba(139,85,117,255);
}

.logo__span{
    color: rgba(254,141,111,255);
    margin: 0.5rem;
}

/* hero */
.background_image {
    background-image: url(peakpx\ \(2\).jpg);
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__container {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero__text__main {
    font-size: 7rem;
    font-family: water brush;
    color: rgba(43,53,55,255);
}

.hero__text__secondary {
    font-size: 5rem;
}

.body__button {
    border-radius: 0.8rem;
    padding: 5px 28px;
    font-weight:thin;
    border: none;
    background-color: rgba(139,85,117,255);
    font-size: medium;
    font-family: Raleway;
    box-shadow: rgb(57, 56, 56) 7px;
    cursor: pointer;
    color:rgba(241,204,218,255);
}



/* dropdown button */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(223, 56, 56, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}