* {
    margin: 0;
    padding: 0;
}

html{
    font-family: Raleway;
    font-weight: thin;
}

.page_title {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.form {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.table {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

/* container */

.container {
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 2rem;
    width: 100%;
}

/* nav bar */
.nav_bar_background_color {
    background-color: rgba(139,85,117,255);
    height: 2.25rem;
    box-shadow: 5px 2.5px 6px 6px rgba(29, 29, 29, 0.232);
}

.nav_bar {
    display: flex;
    justify-content: space-between;
    height: 2.25rem;
    align-items: center;
}

.logo {
    margin-top: 2rem;
    font-family: Onsen Japan Demo;
    font-size: medium;
    color: rgba(241,204,218,255);
}

.header__button {
    border-radius: 0.8rem;
    padding: 5px 28px;
    font-weight:thin;
    border: none;
    background-color: rgba(241,204,218,255);
    font-size: medium;
    font-family: Raleway;
    box-shadow: rgb(57, 56, 56) 7px;
    cursor: pointer;
    color: rgba(139,85,117,255);
}

.header__button .secondary {
    margin-top: 1rem;
}

.logo__span{
    color: rgba(249,170,151,255);
    margin: 0.5rem;
}
/* WELCOME PAGE */

/* hero */
.background_image {
    background-image: url(peakpx\ \(2\).jpg);
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__container {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero__text__main {
    margin-top: 10rem;
    font-size: 3rem;
    font-family: Onsen Japan Demo;
    color: rgba(43,53,55,255);
}

.hero__text__secondary {
    font-size: 5rem;
}

.body__button {
    border-radius: 0.8rem;
    padding: 5px 28px;
    font-weight:thin;
    border: none;
    background-color: rgba(139,85,117,255);
    font-size: medium;
    font-family: Raleway;
    box-shadow: rgb(57, 56, 56) 7px;
    cursor: pointer;
    color:rgba(241,204,218,255);
}

/* CREATE BOOKING PAGE */

.booking_form_input {
    margin: 1rem;
}

/* EDIT BOOKINGS PAGE */

.edit_delete {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

/* ROOMS PAGE */

.room_page_container{
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.room_picture {
    height: 15rem;
    width: 15rem;
    border-radius: 25%;
}

.room_list {
    list-style: none;
    font-size: x-large;
    display: flex;
    flex-direction: column;
}

.room__link {
    margin: 1rem;
}