<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <header>
        <div class="logo"><h3>Sakura <span class="logo__span">Spa</span></h3></div>
        <a href="/bookings"><button class="header__button">Diary</button></a>
        <a href="/bookings/new"><button class="header__button">Add</button></a>
        <a href="/"><button class="header_button">Home</button></a>
    </header>
    <div class="container">{% block content %}{% endblock %}</div>
</body>
</html>
