{% extends 'base.jinja' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>
{% block content %}
<body class="background_image">
    <div class="hero__container">
        <div class="hero__left">
            <div class="hero__text__main"><h1>Welcome</h1></div>
        </div>
        <div class="hero__right">
            <a href="/bookings/new"><button class="body__button">Make a booking</button></a>
            <a href="/bookings"><button class="body__button">View diary</button></a>
            <a href="/rooms"><button class="body__button">Rooms</button></a>
        </div>
    </div>
</body>
{% endblock content %}
</html>